beautifulsoup4==4.12.0
Django==4.2
django-environ==0.10.0
gunicorn==20.1.0
gevent==22.10.2
hiredis==2.2.2
python-jose[cryptography]==3.3.0
redis==4.5.4
social-auth-app-django==5.2.0
social-auth-core==4.4.1
tzdata==2023.3
whitenoise==6.4.0
