<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" href="{% static '../static/splash_page.css' %}">
<script>
  function addtext(e) {
    document.querySelector("#default_title").innerHTML = e.getAttribute("data-name")
    document.querySelector("#featured_application_description").innerHTML = e.getAttribute("data-description")
  }
  function removetext(e) {
    document.querySelector("#featured_application_description").innerHTML = ""
    document.querySelector("#default_title").innerHTML = document.querySelector("#default_title").getAttribute("data-name")
  }
</script>
<title>{% if request.user.is_authenticated %}{{ openmaps_auth.title }}{% else %}Log in to {{ openmaps_auth.title }}{% endif %}</title>
<meta charset="UTF-8">
</head>
<body>
{% block body %}
{% endblock body %}
<div class="footer_container">
  <p> Copyright © 2022 Maxar Technologies, Inc.</p>
</div>
</body>
</html>
