{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="header_spacing">
<div class="right_wrap">
    <h3 class="mr2 maxar_logo">MAXAR</h3>
</div>
{% if request.user.is_authenticated %}
<div class="right_wrap">
    <h3 class="mr2">Logged in as {{ request.user.email }} </h3>
    <a class="login_button" href="{% url 'openmaps_logout' %}">{% translate "Log out" %}</a>
</div>
{% else %}
<div class="right_wrap">
    <h3 class="mr2">Please log in to continue</h3>
    <a class="login_button" href="{% url 'openmaps_login' %}">{% translate "Log in" %}</a>
</div>
{% endif %}
</div>
<div class="title_text">
    <h1 class="center_text">Welcome to {{ openmaps_auth.title }}!</h1> 
</div>
{% if request.user.is_authenticated %}
<div class="app_text">
    <h1 id="default_title" data-name="FEATURED APPLICATIONS">FEATURED APPLICATIONS</h1>
    <p id="featured_application_description" class="hover_text">
    </p>
</div>
<div class="center_section">
<div class="section">
    {% for app_link in openmaps_auth.app_links %}
    {% with  "img/"|add:app_link.text|cut:" "|add:".svg" as svg_src %}
        <div class="container_spacing">
            <article data-name="{{ app_link.text }}" data-description="{{ app_link.description }}" onmouseover=addtext(this) onmouseout=removetext()>
                <div class="app_card">
                    <a class="image_holder app_img img_container size" href="{{ app_link.link }}" target="{{ app_link.target|default:'_blank' }}">
                        <img src="{% static svg_src %}" class="show-icon" viewBox="-25 -25 100 100">
                            <use class="material-symbols-outline" href="#{{ app_link.text }}"></use>
                        </img>
                    </a>
                    <a class="app_img img_container size underline">
                        {{ app_link.text }}
                    </a>
                </div>
            </article>
        </div>
    {% endwith %}
    {% endfor %}
    </div>
<div>
{% else %}
  <div class="login_request_text">
    <h1>Please login to access full suite of applications</h1>
  </div>
{% endif %}
{% endblock body %}
