{% extends 'base.html' %}
{% block body %}
<div class="header_spacing">
  <div class="right_wrap">
    <h3 class="mr2 maxar_logo">MAXAR</h3>
  </div>
  <div class="right_wrap">
    <h3 class="mr2">Please login to continue</h3>
    <p class"mr2"></p>
  </div>
</div>
<div>
  <form class="form_align" name="login" method="post" action="{% url 'openmaps_login' %}">
    <table>
      {% csrf_token %}
    <fieldset class="form_border">
      <div>
        <h1 class="form_title">Sign In:</h3>
      </div>
      <div>
        <label class="form_label">Username:<label>
      </div>
      <div class="input_size" >
        <li class="form_input">{{ form.username }}</li>
      </div>
      <div class="input_size">
        <label class="form_label">Password:<label>
      </div>
      <div class="input_size">
        <li class"form_input">{{ form.password }}</li>
      </div>
      <div class="button_align">
        <input class="form_button" type="reset">
      </div>
      <div class="button_align">
        <input class="form_button" type="submit" value="Login">
      </div>
    </fieldset>
    </table>
  </form>
</div>
<form class="form_align" name="login" method="post" action="{% url 'openmaps_login' %}">
</form>
{% endblock body %}
